body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.hero-unit {
  padding: 40px;
}

@media(max-width: 480px) {
  .hero-unit h1 {
    font-size: 18px;
    letter-spacing: 0;
  }
  .hero-unit {
    padding: 10px;
    font-size: 14px;
  }
  h2 {
    font-size: 25px;
  }
}

.credit {
  color: #6FC067;
  font-weight: bold;
  text-align: right !important;
}

.debit {
  color: #CC3333;
  font-weight: bold;
  text-align: right !important;
}

.center {
  text-align: center;
}

.navbar .brand {
  padding: 5px 20px 5px;
}